{% extends "base/base.html" %}

{% block titulo %}
    Editar Usuario
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h2>Editar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="is_superuser" name="is_superuser" {% if user.is_superuser %}checked{% endif %}>
            <label class="form-check-label" for="is_superuser">Es Superusuario</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
