{% extends "base/base.html" %}

{% block titulo %}
    Crear Nueva Categoría
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h2>Agregar Nueva Categoría</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre de la Categoría</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'categorias' %}" class="btn btn-secondary ml-3">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
