{% extends "base/base.html" %}

{% block titulo %}
    Eliminar Categoría
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h2>Eliminar Categoría: {{ categoria.nombre }}</h2>
    <p>¿Estás seguro de que deseas eliminar esta categoría?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'categorias_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
